Counting the number of edges between the same two artists. The original intent of this was to look at edge weights and how these would work. This exercise showed, when checking some of the most common pairings, that artists were often shown as collaborating or appearing on the same master release as one of their aliases - as verified by checking the two involved artist IDs (see 'Extracting Artist Aliases and Removing Collaborations between Artists and Themselves')

In [1]:
import pandas as pd

In [2]:
# edge list derived from discogs dataset
df_edges = pd.read_csv('discogs_edges.csv')

In [5]:
#df_edges.head()

       V1      V2
0   69205  977533
1   69205  977534
2  977533  977534
3    4813  407736
4     194  106990

In [3]:
# count the number of times the same nodes have collaborated
df_edge_count = df_edges.groupby(["V1", "V2"]).size().reset_index(name="No times collaborated").sort_values('No times collaborated', ascending=False)

In [4]:
df_edge_count.head()

          V1       V2  No times collaborated
3746  198518   242071                     12
4828  331629  1065010                     11
664    25495   390896                     11
3863  209294    79578                      9
2966  144758   164246                      8

In [11]:
df_edge_count.to_csv('edge_count.csv', index = False)

In [5]:
# number of pairs of nodes for each number of collaborations 
df_edge_count['No times collaborated'].value_counts()

1     7401
2      490
3      114
4       35
5       23
6        9
7        5
11       2
12       1
9        1
8        1
Name: No times collaborated, dtype: int64